
{% set title = 'ABOUT' %}
{% extends "../layouts/section.njk" %}
{% block content %}
<div class="-m-1 flex flex-col flex-wrap md:-m-2">
  <div class="flex flex-wrap">
    <div class="w-1/2 pb-2 pr-1 md:pb-4 md:pr-2">
      <img
        alt="gallery"
        class="block h-full w-full rounded-lg object-cover object-center"
        src="/assets/images/gallery4.jpeg" />
    </div>
    <div class="w-1/2 pb-2 pl-1 md:pb-4 md:pl-2">
      <img
        alt="gallery"
        class="block h-full w-full rounded-lg object-cover object-center"
        src="/assets/images/gallery5.jpeg" />
    </div>
    <div class="w-full">
      <img
        alt="gallery"
        class="block h-full w-full rounded-lg object-cover object-center"
        src="/assets/images/hero2.jpeg" />
    </div>
  </div>
  <p class="my-4 font-light text-lg">
    Born in France, Romain Axisa first picked up a guitar when he was 12, recording his first songs in a broken camper van in his parents' garden. In 2016, Romain moved to the UK with just his acoustic guitar and a bag full of clothes and began busking on the streets of Brighton, forming The Big Push with fellow buskers Ren Gill and Gorran Kendall.
    Returning once again to his solo career, his first single, ‘’It All Feels Old’’ has already amassed more than 100K streams and his new album will launch this summer.
  </p>
  <div class="flex flex-wrap">
    <div class="w-full pb-2 md:pb-4">
      <img
        alt="gallery"
        class="block h-full w-full rounded-lg object-cover object-center"
        src="/assets/images/gallery6.jpeg" />
    </div>
    <div class="w-1/2 pr-1 md:pr-2">
      <img
        alt="gallery"
        class="block h-full w-full rounded-lg object-cover object-center"
        src="/assets/images/gallery8.jpeg" />
    </div>
    <div class="w-1/2 pl-1 md:pl-2">
      <img
        alt="gallery"
        class="block h-full w-full rounded-lg object-cover object-center"
        src="/assets/images/gallery7.jpeg" />
    </div>
  </div>
</div>
{% endblock %}
