{% set title = 'CONNECT' %}
{% set hoverColor = 'text-blue' %}
{% set part1 = site.contactEmailName %}
{% set part4 = site.contactEmailDomain %}
{% extends "../layouts/section.njk" %}
{% block content %}
    <div class="text-medium text-3xl md:text-6xl">
        {% include '../partials/_social_links.html' %}
    </div>
    <script language="JavaScript" type="text/javascript">
        var part1 = "{{ part1 }}";
        var part2 = Math.pow(2, 6);
        var part3 = String.fromCharCode(part2);
        var part4 = "{{ part4 }}";
        var part5 = part1 + String.fromCharCode(part2) + part4;
        document.write('<div class="flex justify-center items-center font-light mt-4"><a class="text-xl text-center underline hover:{{hoverColor}}" href="' + 'mai' + 'lto' + ':' + part5 + '"">or send email</a></div>');
    </script>
{% endblock %}