<section class="py-8 px-8 bg-azure border-t-4 border-double border-blue" id="{{ title | lower}}">
    <h2 class="text-3xl md:text-4xl text-center">{{ title }}</h2>
    <div class="container mx-auto px-5 py-2 lg:px-32 pt-6 md:pt-10">
        {% block content %}{% endblock %}
    </div>
</section>