<div class="shadow-xl -m-1 md:-m-2 px-3 md:px-6 rounded-lg border-4 border-double border-blue bg-blue_shade max-h-96">
     {# <div class="">Debut album coming your way on Nov. 3th!<div> #}
    <div class="flex">
        <div class="w-1/2 md:w-2/3 flex flex-col md:pr-2 font-light">
            <div class="flex flex-col basis-2/3 items-center justify-center pr-2 text-azure">
                <h3 class="text-2xl md:text-4xl text-center">A Wonderful Thrill</h3>
                <span class="hidden md:block text-sm md:text-2xl">by</span>
                <h3 class="hidden md:block text-2xl md:text-4xl text-center">Romain Axisa</h3>
            </div>
            <div class="flex basis-1/2 text-medium justify-center items-start text-3xl md:text-6xl pl-4 md:pl-12">
                <h2 class="text-2xl font-semibold text-center">
                    <a class="underline hover:text-azure" href="https://linktr.ee/romainaxisa" target="_blank">
                    Get debut album here
                </a>
                </h2>
            </div>
        </div>
        <div class="w-1/2 md:w-1/3 flex justify-center items-center pl-2 py-3 md:py-6">
            <a href="https://linktr.ee/romainaxisa" target="_blank">
                <img class="rounded-lg" src="/assets/images/album_cover.webp" alt="A Wonderful Thrill"/>
            </a>
        </div>
    </div>
</div>