{% set hoverColorNav = 'text-azure' %}
<header>
{% include './_mobile_nav.njk' %}
  <!-- Background image -->
  <div
  class="flex h-screen bg-cover bg-no-repeat sm:bg-local md:bg-fixed bg-center items-end md:items-center justify-center pb-32 md:pb-0"
  style="background-image: url('../../assets/images/hero3.jpeg')">
    <div class="text-6xl text-azure text-center font-semibold drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,1)]">
      {{ title }}
    </div>
  </div>
  <!-- Background image -->
</header>