<nav>
    <ul class="{{ flexDirection }} gap-{{gapNumber}} font-thin">
        <li>
            <a class="hover:{{hoverColorNav}}" href="#">HOME</a>
        </li>
        <li>
            <a class="hover:{{hoverColorNav}}" href="#music">MUSIC</a>
        </li>
        <li>
            <a class="hover:{{hoverColorNav}}" href="#about">ABOUT</a>
        </li>
        <li>
            <a class="hover:{{hoverColorNav}}" href="#connect">CONNECT</a>
        </li>
    </ul>
</nav>