 <ul class="flex justify-between">
    <li>
        <a class="hover:{{hoverColor}}" href="https://www.youtube.com/@RomainAxisa" target="_blank">
            <i class="fa-brands fa-youtube"></i>
        </a>
    </li>
    <li>
        <a class="hover:{{hoverColor}}" href="https://open.spotify.com/artist/0fD0vte7xBaEjDkxPsSQsW?si=b1oz2VODTkS2I5ZIZtV9Mw&nd=1" target="_blank">
            <i class="fa-brands fa-spotify"></i>
        </a>
    </li>
    <li>
        <a class="hover:{{hoverColor}}" href="https://music.apple.com/artist/romain-axisa/912023310" target="_blank">
            <i class="fa-brands fa-itunes-note"></i>
        </a>
    </li>
    <li>
        <a class="hover:{{hoverColor}}" href="http://instagram.com/romainaxisa" target="_blank">
            <i class="fa-brands fa-instagram"></i>
        </a>
    </li>
    <li>
        <a class="hover:{{hoverColor}}" href="https://www.facebook.com/romainaxisauk" target="_blank">
            <i class="fa-brands fa-facebook-f"></i>
        </a>
    </li>
    <li>
        <a class="hover:{{hoverColor}}" href="https://www.tiktok.com/@romainaxisa" target="_blank">
            <i class="fa-brands fa-tiktok"></i>
        </a>
    </li>
</ul>
